@model IndexVm;
@{
    ViewData["Title"] = "Home Page";
    var userName = Model.UserName;
}

<input hidden id="user" value="@userName"/>

<div class="text-center">
    <h1 class="display-4">Welcome @userName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-12">
        <input placeholder="Message" class="form-control" id="userMessage"/>
    </div>
    <div class="col-md-6 offset-md-6 col-12">
        <button id="btnSend" clss="btn btn-primary w-100">Send</button>
    </div>
    <div class="col-12">
        <ul class="list-unstyled" id="userMessages">

        </ul>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="js/chatApp.js"></script>

}