@model SignInVm

@{
    ViewBag.Title = "Logowanie";
    Layout = "_Layout";
}
<div class="text-center">
    <h2>Logowanie</h2>
</div>

<form asp-action="SignIn" method="post" class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <input class="form-control" asp-for="UserName" placeholder="Login"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 offset-md-3 py-3">
        <button class="btn btn-success w-100">Zaloguj</button>
    </div>
</form>